################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/MacroToQty/.vs/MacroToQty/v15
/MacroToQty/MacroToQty/bin/Debug
/MacroToQty/MacroToQty/obj
